/*
 * Basic reset
 * @link https://github.com/c99rahul/base-css
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
header,
main,
footer,
article,
aside,
section,
nav,
p,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
a,
abbr,
acronym,
cite,
code,
dfn,
em,
q,
strong,
samp,
var,
time,
mark,
small,
del,
ins,
sub,
sup,
kbd,
tt,
s,
strike,
big,
img,
audio,
video,
figure,
figcaption,
form,
input,
textarea,
button,
select,
option,
optgroup,
label,
fieldset,
legend,
datalist,
keygen,
progress,
meter,
ul,
ol,
li,
dl,
dt,
dd,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
object,
iframe,
embed,
br,
hr,
canvas {
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
}

/* Responsive images */
img {
  max-width: 100%;
  vertical-align: middle;
}

:root {
  --leading__global: 1.5;
  --leading__headings: 1;
  --font-stack__global: "Outfit", sans-serif;
  --font-stack__headings: "Young Serif", serif;
  --size__global: 100%;
  --size__heading-large: 2.25em;
  --size__heading-medium: 1.75em;
  --size__heading-small: 1.25em;
  --width__container: 46em;
  --height__horizontal-rule: 1px;
  --dim__list-item-bullet: 0.25em;
  --border-width__table-cell__bottom: 1px;
  --inner-spacing__hero: 0;
  --inner-spacing__article: 2.5em 2em;
  --inner-spacing__content-slab: 1.5em;
  --inner-spacing__list-item__left: 2em;
  --inner-spacing__table-cell__inline: 2rem;
  --inner-spacing__table-cell__bottom: 0.75em;
  --outer-spacing__heading-large__bottom: 1.5rem;
  --outer-spacing__heading-medium__bottom: 1.5rem;
  --outer-spacing__heading-small__bottom: 1rem;
  --outer-spacing__container__block: 0;
  --outer-spacing__content-slab__block: 2em;
  --outer-spacing__list-item__left: 0.5em;
  --outer-spacing__table-cell__bottom: 0.75em;
  --outer-spacing__horizontal-rule__block: 2em;
  --gap__list-items: 0.5em;
  --gap__table-cell__inline: 1em;
  --radius__container: 0;
  --radius__hero-img: 0;
  --radius__content-slab: 0.75em;
  --radius__list-item-bullet: 50%;
  --color-primary-white: hsl(0 0 100);
  --color-primary-eggshell: hsl(30 54 90);
  --color-secondary-rose-white: hsl(330 100 98);
  --color-secondary-light-grey: hsl(30 18 87);
  --color-secondary-dark-charcoal: hsl(24 5 18);
  --color-secondary-wenge-brown: hsl(30 10 34);
  --color-accent-nutmeg: hsl(14 45 36);
  --color-accent-dark-raspberry: hsl(332 51 32);
  font-size: var(--global-font-size);
}

/* 
 * Modifying the settings for a bigger viweport area. This is how the 
 * basic progressive enhancement approach looks like.
 */
@media only screen and (min-width: 48em) {
  :root {
    --inner-spacing__article: 2.5rem;
    --radius__container: 1.5em;
    --radius__hero-img: 0.75em;
    --outer-spacing__container__block: 7.6875em;
    --size__heading-large: 2.5em;
    --inner-spacing__content-slab: 1.75em;
    --inner-spacing__hero: 2.5em;
  }
}
/* Font setup */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}
/* Basic body */
body {
  font: 1em/var(--leading__global) var(--font-stack__global);
  color: var(--color-secondary-wenge-brown);
  background-color: var(--color-primary-eggshell);
}

/* Typography settings */
b,
strong {
  font-weight: 700;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

h1,
h2,
h3 {
  line-height: var(--leading__headings);
  font-family: var(--font-stack__headings);
  color: var(--color-accent-nutmeg);
  font-weight: 500;
}

h1 {
  font-size: var(--size__heading-large);
  margin-bottom: var(--outer-spacing__heading-large__bottom);
}

h2 {
  font-size: var(--size__heading-medium);
  margin-bottom: var(--outer-spacing__heading-medium__bottom);
}

h3 {
  font-size: var(--size__heading-small);
  margin-bottom: var(--outer-spacing__heading-small__bottom);
  line-height: 1em;
}

li + li {
  margin-top: var(--gap__list-items);
}

/* Customized lists */
ul li,
ol li {
  display: block;
  position: relative;
  padding-left: var(--inner-spacing__list-item__left);
  margin-left: var(--outer-spacing__list-item__left);
}
ul li::before,
ol li::before {
  position: absolute;
  left: 0;
  content: "";
}

ul li:before {
  height: var(--dim__list-item-bullet);
  width: var(--dim__list-item-bullet);
  border-radius: var(--radius__list-item-bullet);
  background-color: var(--color-accent-nutmeg);
  top: calc(50% - var(--dim__list-item-bullet) / 2);
  transform: translateX(calc(-50% + var(--dim__list-item-bullet) / 2));
}

ol {
  counter-reset: numbered-list;
}
ol li:before {
  color: var(--color-accent-nutmeg);
  content: counter(numbered-list) ".";
  font-weight: 700;
  counter-increment: numbered-list;
}

/* Tweaking tables */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

tr:not(:first-child) td,
tr:not(:first-child) th {
  padding-top: calc(var(--inner-spacing__table-cell__bottom) - var(--border-width__table-cell__bottom) / 2);
}
tr:not(:last-child) {
  border-bottom: var(--border-width__table-cell__bottom) solid var(--color-secondary-light-grey);
}
tr:not(:last-child) td,
tr:not(:last-child) th {
  padding-bottom: calc(var(--inner-spacing__table-cell__bottom) - var(--border-width__table-cell__bottom) / 2);
}

td,
th {
  padding-left: calc(var(--gap__table-cell__inline) / 2);
  padding-right: calc(var(--gap__table-cell__inline) / 2);
}
td:first-child,
th:first-child {
  padding-left: var(--inner-spacing__table-cell__inline);
}
td:last-child,
th:last-child {
  padding-right: var(--inner-spacing__table-cell__inline);
}

td {
  color: var(--color-accent-nutmeg);
  font-weight: 700;
}

/* Horizontal rule */
hr {
  margin-top: calc(var(--outer-spacing__horizontal-rule__block) - var(--height__horizontal-rule) / 2);
  margin-bottom: calc(var(--outer-spacing__horizontal-rule__block) - var(--height__horizontal-rule) / 2);
  height: var(--height__horizontal-rule);
  border-width: 0;
  background-color: var(--color-secondary-light-grey);
}

/* Main container */
.site-container {
  margin: var(--outer-spacing__container__block) auto;
  max-width: var(--width__container);
  background-color: var(--color-primary-white);
  border-radius: var(--radius__container);
}

/* Hero area */
.site-hero {
  padding: var(--inner-spacing__hero) var(--inner-spacing__hero) 0;
}
.site-hero img {
  border-radius: var(--radius__hero-img);
}

/* Copy container */
.site-copy {
  padding: var(--inner-spacing__article);
}
.site-copy .site-copy-title {
  color: var(--color-secondary-dark-charcoal);
}

/* Content box */
.content-slab {
  padding: var(--inner-spacing__content-slab);
  margin: var(--outer-spacing__content-slab__block) 0;
  background-color: var(--color-secondary-rose-white);
  border-radius: var(--radius__content-slab);
}
.content-slab h3 {
  font-family: var(--font-stack__global);
  font-weight: 600;
  color: var(--color-accent-dark-raspberry);
}
.content-slab ul li::before {
  background-color: var(--color-accent-dark-raspberry);
}

/*# sourceMappingURL=style.css.map */
